# Python
__pycache__/
*.pyc
.venv/

# VSCode
.vscode/

# FiveM cache
server/cache/
server/cache/*
server/txData/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# FiveM Server
server/*
!server/.gitkeep

# Sentinel AI persistent profiles
resources/sentinel_core/data/profiles.json
